<div class="friends-container">
  <h2>Friends</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of paginatedFriends">
        <td>{{ friend.id }}</td>
        <td>{{ friend.username }}</td>
        <td>{{ friend.email }}</td>
        <td>
          <button class="send-message-btn" (click)="navigateToPrivateMessages(friend.id)">Send Message</button>
          <button class="remove-friend-btn" (click)="deleteFriend(friend.id)">Remove Friend</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span> Page {{ currentPage }} of {{ totalPages }} </span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
