<div class="channel-container">
  <h2>Channels</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels">
        <td>{{ channel.id }}</td>
        <td>{{ channel.name }}</td>
        <td>{{ channel.owner.username }}</td>
        <td>
          <button
            class="edit"
            *ngIf="isOwnerOrAdmin(channel.id)"
            (click)="navigateToEditChannel(channel.id)"
          >
            Edit
          </button>
          <button
            class="delete"
            *ngIf="isOwner(channel.id)"
            (click)="deleteChannel(channel.id)"
          >
            Delete
          </button>
          <button
            class="add-user"
            *ngIf="isOwnerOrAdmin(channel.id)"
            (click)="addUserToChannel(channel.id)"
          >
            Add User
          </button>
          <button
            class="view-members"
            (click)="viewChannelMembers(channel.id, channel.name)"
          >
            View Members
          </button>
          <button
            class="view-messages"
            (click)="viewMessages(channel.id)"
          >
            Messages
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="create-channel" (click)="navigateToCreateChannel()">
    Create Channel
  </button>
  <button class="go-to-users" (click)="goToUsers()">Go to Users</button>

  <div *ngIf="channelMembers.length > 0">
    <h3>Members of {{ selectedChannelName }}</h3>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of channelMembers">
          <td>{{ member.userId }}</td>
          <td>{{ member.username }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.role }}</td>
          <td>
            <button
              class="assign-admin"
              *ngIf="isOwner(selectedChannelId)"
              (click)="assignAdmin(selectedChannelId, member.userId)"
            >
              Assign Admin
            </button>
            <button
              class="remove-user"
              *ngIf="isOwnerOrAdmin(selectedChannelId)"
              (click)="removeUser(selectedChannelId, member.userId)"
            >
              Remove User
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
