<div>

  <div>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Enter username or email to search"
    />
    <button (click)="searchUsers()">Search</button>
  </div>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="navigateToEditUser(user.id)">Edit</button>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button routerLink="/channel-list">Manage Channels</button>
</div>
